@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200&family=Mukta:wght@300&family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200&family=Mukta:wght@300&family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200&family=Mukta:wght@300&family=Orbitron:wght@900&family=Playfair+Display:ital@1&display=swap');



.menu{
  
  position: absolute;
  top: 0;
  left: 200px;
  width: 100vw;
  height: 100vh;
  background-color: #021946;
  
}
#logout{
   top: 15px ;
   left: 80%;
   right: 0;
   position: absolute;
   
}

.container {
  display: none;
  left: 435px;
  padding: 50px;
  right: 690px;
  position: absolute;
  top: 5px;
  border-radius: 1.5em 1.5em;
  width: 100px;
  height: 100px;
  background-color: #4d586e;
}
.container ul{
  color:  #c5c5ff;
  list-style-type: none;
  margin-right: 50px;
  margin-top: 0px;
  font-family: 'Orbitron', sans-serif;
  padding-left: 1px;
  text-align: center;
  text-decoration: solid;
}

.conf {
  align-items: center;
  position: absolute;
  top: 5px;
}

.home{
  background-color: #021946;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  position: absolute;
}
.home ul{
  margin-top: 100px;
  list-style-type: none;
  color:  #c5c5ff;
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
  padding: 0%;
}
 
.home ul li{
  left: 0px;
  padding: 20px;
  text-decoration: none;
  color: aliceblue;

}

.page{
  border-radius: 5px;
  border: 1px #867777;
  top: 60px;
  position: absolute;
  background-color: #092d74;
  width: 100%;
  height: 100vh;
  left: 200px;
}
.suporte{
  position: absolute;
  display: flex;
  background-color: #021946;
  top: 100vh;
}